* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 20px;


}

.alert-warning {
  color: #df420eeb;
}

.card {
  margin: 20px;
  padding-left: 10px;

}

nav {
  font-size: 20px;
  padding: 10px;
  background-color: #ed0b70;
      background: radial-gradient(circle at 0% -25%,#FF8947 0%,#FF8354 0,#DA2C94 42%,#3E13A5 110%);
  
}

label {
  color: rgb(70, 68, 68);
}

.nav-link {

  color: hsl(0, 0%, 100%);
  font-weight: 500;
  font-size: 25px;

}

#mainNav {
  color: white;
}

.nav-link:hover {
  color: #301008;
}

.navbar-brand {
  color: rgba(25, 23, 23, 0.9);
  size: 25px;
  font-size: 2rem;
}



.navbar-brand:focus,
.navbar-brand:hover {
  color: #fff93ee6;
}

#login:hover {
  background-color: rgb(50, 213, 61);

}

#login {
  border-radius: 5px;
}

.card-title {
  color: #ed0b70;
  font-size: 30px;


}

.heading-section,
.h4,
.h2 {
  margin: 50px;
  background-color: #482673;


  font-weight: 200;
  box-sizing: border-box;
  box-shadow: #773ec1 5px 10px 15px 2px;
  color: rgb(206, 202, 202);
  margin-bottom: 5px;
  padding: 5px;
}

.mb-4 {
  color: black;
}

.card:hover {

  transition: all .3s ease-in-out;
  box-shadow: 15px 15px 20px  rgb(120, 118, 118);

  border-width: 0.06rem;

}

p {

  color: #482673;
  font-weight: 450;  
  font-family: 'Times New Roman', Times, serif;
  text-overflow: ellipsis;
  font-size: xx-large;




}

#home {
  overflow: hidden;
  max-width: 75ch;
  text-overflow: ellipsis;
  white-space: nowrap;
}



#scroll-container {


  overflow: hidden;
}

.footer-basic {
  padding: 40px 0;
  background-color: #ffffff;
  color: #4b4c4d;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social>a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.55;
}

.footer-basic .social>a:hover {
  opacity: 1;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 20px;
  color: #aaa;
  margin-bottom: 0;
}

.footer-basic,
body {
  background-color: #f6ebf4;
}

#back {
  margin: auto;
  padding: auto;
  color: #e7f30b;
  

}

#back:hover {
  background-color: #ed0b70;
  color: #e2ff04;
  font-style: bold;
  }

#read {
  color: cornflowerblue;
}

#welcome-user , .user{
    text-decoration :wavy;
    text-transform: capitalize;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif , cursive;
    text-shadow: #ed0b70 4px 2px 5px ;
    font-weight: bold;
    font-size: 20px;
    color: rgb(255 248 29 / 91%);
}
